# This is a basic workflow to help you get started with Actions

name: Deploy GH Pages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  pages:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Commit
        uses: actions/checkout@v2.3.4
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 22
      - name: Config Docusaurus
        run: |
          git config --global user.email "verdacciobot@users.noreply.github.com"
          git config --global user.name "Verdaccio bot for Deployments"
          echo "machine github.com login verdacciobot password ${{ secrets.BOT_TOKEN }}" > ~/.netrc
      - name: Install pnpm
        run: sudo npm i -g pnpm
      - name: Fetch dependencies
        run: |
          cd website
          pnpm install
      - name: Deploying to GitHub Pages
        run: |
          cd website
          GIT_USER=verdacciobot USE_SSH=false pnpm run publish-gh-pages
