# This is a basic workflow to help you get started with Actions

name: Deploy CDN

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Fetch dependencies
        run: |
          cd website
          yarn
      # Runs a single command using the runners shell
      - name: Build Docusaurus
        run: |
          yarn build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: website/build
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # needs build
    needs: build

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v1
        with:
          name: public

      - name: "Uploading..."
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_ENDPOINT: https://nyc3.digitaloceanspaces.com
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "nyc3" # optional: defaults to us-east-1
          SOURCE_DIR: "build" # optional: defaults to entire repository
          DEST_DIR: "docu-website"
