# This is a basic workflow to help you get started with Actions

name: Deploy GH Pages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Commit
        uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v1
      - name: Install pnpm
        run: npm i -g pnpm
      - name: Fetch dependencies
        run: |
          cd website
          pnpm install
      - name: Build Docusaurus
        run: |
          cd website
          pnpm build
      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: website/build/website
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # needs build
    needs: build

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Deploying to GitHub Pages
        run: |
          git config --global user.email "verdacciobot@users.noreply.github.com"
          git config --global user.name "Verdaccio bot for Deployments"
          echo "machine github.com login verdacciobot password $GITHUB_TOKEN" > ~/.netrc
          cd website
          GIT_USER=verdacciobot USE_SSH=false pnpm run publish-gh-pages

