# This is a basic workflow to help you get started with Actions

name: Deploy GH Pages

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [migrate-website]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  pages:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
      - name: Config Docusaurus
        run: |
          git config --global user.email "verdacciobot@users.noreply.github.com"
          git config --global user.name "Verdaccio bot for Deployments"
          echo "machine github.com login verdacciobot password ${{ secrets.BOT_TOKEN }}" > ~/.netrc
      - name: Install pnpm
        run: |
          npm install --global corepack@latest
          corepack enable
          corepack install
      - name: Fetch dependencies
        run: pnpm install
      - name: Build Packages
        run: pnpm build
      - name: Build Translations percentage
        run: pnpm --filter @verdaccio/local-scripts build
      - name: Cache Docusaurus Build
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: website/node_modules/.cache/webpack
          key: cache/webpack-${{github.ref}}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: cache/webpack-${{github.ref}}
      - name: Build Production
        env:
          CROWDIN_VERDACCIO_API_KEY: ${{ secrets.CROWDIN_VERDACCIO_API_KEY }}
          CONTEXT: production
        run: pnpm --filter @verdaccio/website deploy:build        
      - name: Deploying to GitHub Pages
        run: |
          GIT_USER=verdacciobot USE_SSH=false pnpm --filter @verdaccio/website deploy:gh-pages
